@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --md-sys-color-primary: rgb(99 86 143);
  --md-sys-color-surface-tint: rgb(99 86 143);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(231 222 255);
  --md-sys-color-on-primary-container: rgb(31 16 72);
  --md-sys-color-secondary: rgb(97 91 113);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(231 223 248);
  --md-sys-color-on-secondary-container: rgb(29 25 43);
  --md-sys-color-tertiary: rgb(125 82 97);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 217 228);
  --md-sys-color-on-tertiary-container: rgb(49 17 30);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(253 247 255);
  --md-sys-color-on-background: rgb(28 27 32);
  --md-sys-color-surface: rgb(253 247 255);
  --md-sys-color-on-surface: rgb(28 27 32);
  --md-sys-color-surface-variant: rgb(230 224 236);
  --md-sys-color-on-surface-variant: rgb(72 69 78);
  --md-sys-color-outline: rgb(121 117 127);
  --md-sys-color-outline-variant: rgb(202 196 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 47 53);
  --md-sys-color-inverse-on-surface: rgb(244 239 247);
  --md-sys-color-inverse-primary: rgb(205 189 255);
  --md-sys-color-primary-fixed: rgb(231 222 255);
  --md-sys-color-on-primary-fixed: rgb(31 16 72);
  --md-sys-color-primary-fixed-dim: rgb(205 189 255);
  --md-sys-color-on-primary-fixed-variant: rgb(75 62 118);
  --md-sys-color-secondary-fixed: rgb(231 223 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(203 195 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 217 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 30);
  --md-sys-color-tertiary-fixed-dim: rgb(238 184 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 74);
  --md-sys-color-surface-dim: rgb(221 216 224);
  --md-sys-color-surface-bright: rgb(253 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 242 250);
  --md-sys-color-surface-container: rgb(242 236 244);
  --md-sys-color-surface-container-high: rgb(236 230 238);
  --md-sys-color-surface-container-highest: rgb(230 225 233);
}

.dark {
  --md-sys-color-primary: rgb(205 189 255);
  --md-sys-color-surface-tint: rgb(205 189 255);
  --md-sys-color-on-primary: rgb(52 39 94);
  --md-sys-color-primary-container: rgb(75 62 118);
  --md-sys-color-on-primary-container: rgb(231 222 255);
  --md-sys-color-secondary: rgb(203 195 220);
  --md-sys-color-on-secondary: rgb(50 46 65);
  --md-sys-color-secondary-container: rgb(73 68 88);
  --md-sys-color-on-secondary-container: rgb(231 223 248);
  --md-sys-color-tertiary: rgb(238 184 202);
  --md-sys-color-on-tertiary: rgb(73 37 51);
  --md-sys-color-tertiary-container: rgb(99 59 74);
  --md-sys-color-on-tertiary-container: rgb(255 217 228);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 24);
  --md-sys-color-on-background: rgb(230 225 233);
  --md-sys-color-surface: rgb(20 19 24);
  --md-sys-color-on-surface: rgb(230 225 233);
  --md-sys-color-surface-variant: rgb(72 69 78);
  --md-sys-color-on-surface-variant: rgb(202 196 207);
  --md-sys-color-outline: rgb(147 143 153);
  --md-sys-color-outline-variant: rgb(72 69 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 233);
  --md-sys-color-inverse-on-surface: rgb(49 47 53);
  --md-sys-color-inverse-primary: rgb(99 86 143);
  --md-sys-color-primary-fixed: rgb(231 222 255);
  --md-sys-color-on-primary-fixed: rgb(31 16 72);
  --md-sys-color-primary-fixed-dim: rgb(205 189 255);
  --md-sys-color-on-primary-fixed-variant: rgb(75 62 118);
  --md-sys-color-secondary-fixed: rgb(231 223 248);
  --md-sys-color-on-secondary-fixed: rgb(29 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(203 195 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 217 228);
  --md-sys-color-on-tertiary-fixed: rgb(49 17 30);
  --md-sys-color-tertiary-fixed-dim: rgb(238 184 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 74);
  --md-sys-color-surface-dim: rgb(20 19 24);
  --md-sys-color-surface-bright: rgb(58 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(28 27 32);
  --md-sys-color-surface-container: rgb(32 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 47);
  --md-sys-color-surface-container-highest: rgb(54 52 58);
}

.material-symbols-rounded {
  font-variation-settings:
    /* Filled ( 0 or 1) */
    "FILL" 1,
    /* Stroke weight (100 - 700) */
    "wght" 400,
    /* Grade (-25 - 200 */
    "GRAD" 0,
    /* Optical Size (20 - 48) px */
    "opsz" 24;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

:root {
  @apply light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply dark;
  }
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: var(--md-sys-color-on-surface);
  background: var(--md-sys-color-surface-container);
}

.flex-center {
  @apply flex justify-center items-center;
}